 <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/assets/img/post-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{post.title}}</h1>
                        <h2 class="subheading">{{post.resume}}</h2>
                        <span class="meta">Posted by: <a href="#">{{getAuthorByPost(post.author_id)?.full_name}}</a> on the: {{post.created_at | date:"dd/MM/YY"}}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <p>{{post.content}}</p>
                    <a href="#">
                        <img class="img-responsive" src={{post.image_url}} alt="">
                    </a>
                </div>
            </div>
        </div>
    </article>