    <!-- Main Content -->
    <div class="container">
        <div class="row" *ngFor="let post of posts | slice:0:4">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    <a routerLink="post/{{post.id}}">
                        <h2 class="post-title">
                           {{post.title}}
                        </h2>
                        <h3 class="post-subtitle">
                            {{post.resume}}
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="#">{{post.author_id}}</a> on the: {{post.created_at | date:"dd/MM/YY"}}</p>
                </div>
                <hr>
            </div>
        </div>
        <hr>
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="#">View all posts &rarr;</a>
                    </li>
                </ul>
    </div>

    <hr>
